@use 'mixin' as mixin;
@use 'variables' as var;
@import 'font';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    @include mixin.paddingBody;
    @include mixin.layoutFlex(flex, column, center, center, 6rem);
    background-color: black;
    color: white;
    height: 80vh;
    position: relative;
    
    hr {
        position: absolute;
        top: 0;
        border: none;
        border-left: 1px solid white;
        width: 1px;
        height: 5rem;
    }

    div {
        width: 100%;
    }

    .headerTitle {
        @include mixin.layoutFlex(flex, column, center, center, 2rem);
    }

    h1 {
        @include mixin.font(#FFF, center, 'Inter', 4rem, normal, 700, 0.8, uppercase);
        width: 30rem;
    }

    span {
        color: black;
        text-shadow: 
        1px 0 0 white, /*right */
        0 1px 0 white, /*top */
        -1px 0 0 white, /*left */
        0 -1px 0 white; /*bottom*/
    }

    p {
        @include mixin.font(#FFF, center, 'Work_Sans', 0.75rem, normal, 400, auto, normal);
    }
    
    .headerBar {
        @include mixin.layoutFlex(flex, row, space-between, center, none);

        button {
            @include mixin.button;
        }

        button:hover {
            @include mixin.buttonHover;
        }
    }
}

.sec1 {
    @include mixin.paddingBody;
    background-color: black; 
    position: relative;
    
    .information {
        @include mixin.font(#FFF, none, 'Inter', 6rem, normal, 700, auto, normal);
        width: 80%;
    }

    div {
        @include mixin.layoutFlex(flex, column, center, flex-start, 1rem);
        margin: 10rem 0;
    }

    .small  {
        @include mixin.font(#FFF, none, 'Work_Sans', 0.875rem, normal, 400, auto, normal);
    }

    .large  {
        @include mixin.font(#FFF, none, 'Inter', 5.4rem, normal, 700, auto, normal);
    }

    img {
        @include mixin.img(33rem, auto);
        position: absolute;
        right: 0;
        bottom: 7rem;
    }

    .devider {
        height: 1px;
    }
}

.sec2 {
    @include mixin.paddingBody;
    position: relative;
    @include mixin.layoutFlex(flex, column, center, center, 15rem);

    .design {
        @include mixin.layoutFlex(flex, column, center, center, 1rem);

        h2 {
            @include mixin.font(black, left, 'Inter', 5.2rem, normal, 700, auto, normal);
            width: 40%;
        }

        p {
            @include mixin.font(black, left, 'Work_Sans', 1rem, normal, 400, auto, normal);
            width: 40%;
        }
    }

    p {
        @include mixin.font(black, left, 'Work_Sans', 1rem, normal, 400, auto, normal);
            width: 40%;
            margin-bottom: 15rem;
    }

    img {
        position: absolute;
        @include mixin.img(20rem, auto);
    }

    .img1 {
        top: -20%;
        right: 10%;
        z-index: 1;
        @include mixin.img(15rem, auto);
    }

    .img2 {
        top: 0;
        left: 5%;
        @include mixin.img(15rem, auto);
    }

    .img3 {
        top: 15%;
        right: 10%;
        @include mixin.img(10rem, auto);
    }

    .img4 {
        top: 30%;
        left: 25%;
        @include mixin.img(15rem, auto);
    }

    .img5 {
        bottom: 40%;
        right: 25%;
        @include mixin.img(15rem, auto);
    }

    .img6 {
        bottom: 15%;
        left: 0;
        @include mixin.img(10rem, auto);
    }

    .img7 {
        bottom: -5%;
        right: 20%;
        @include mixin.img(20rem, auto);
        z-index: 2;
    }
}

.sec3 {
    @include mixin.paddingBody;
    height: 180vh;
    max-width: 100%;
    background-color: black;
    @include mixin.layoutFlex(flex, column, space-between, space-between, 1rem);

    .goldenBear {
        @include mixin.layoutFlex(flex, row, space-between, center, 1rem);
        margin-top: 7rem;
    }

    .goldenBearTitle {
        width: 30%;

        p {
            @include mixin.font(white, left, 'Work_Sans', 1.2rem, normal, 400, auto, normal);
            margin-bottom: 2rem;
        }

        h2 {
            @include mixin.font(white, left, 'Inter', 5rem, normal, 700, 1, normal);
        }
    }
    
    .citation {
        width: 50%;
        margin-top: 3rem;

        p {
            @include mixin.font(white, left, 'Inter', 1.8rem, normal, 700, auto, normal);
            margin-bottom: 2rem;
        }

        .name {
            @include mixin.font(white, left, 'Work_Sans', 1.15rem, normal, 400, auto, normal);
        }
    }

    .bears {
        position: relative;
        height: 40vh;

        .bear1 {
            position: absolute;
            @include mixin.img(47rem, auto);
            bottom: -30%;
            left: 0;
        }
    
        .bear2 {
            position: absolute;
            @include mixin.img(27rem, auto);
            bottom: -20%;
            right: 10%;
        }
    }
}

article {
    max-width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        @include mixin.img(20rem, auto);
        top: -25%;
        right: -5%;
        animation: circle 15s 0.1s linear infinite;
    }

    @keyframes circle {
        from {
            transform: rotate(0deg);
            }
        to {
            transform: rotate(360deg);
            }
        }
}

.sec4 {
    @include mixin.paddingBody;
    height: 180vh;
    background-color: rgba(238, 238, 238, 1);
    @include mixin.layoutFlex(flex, column, space-between, space-between, 1rem);
    margin-bottom: 20rem;

    .poppyBear {
        @include mixin.layoutFlex(flex, row, space-between, center, 1rem);
        margin-top: 7rem;
    }

    .poppyBearTitle {
        width: 30%;

        p {
            @include mixin.font(black, left, 'Work_Sans', 1.2rem, normal, 400, auto, normal);
            margin-bottom: 2rem;
        }

        h2 {
            @include mixin.font(black, left, 'Inter', 5rem, normal, 700, 1, normal);
        }
    }
    
    .citation {
        width: 50%;
        margin-top: 3rem;

        p {
            @include mixin.font(black, left, 'Inter', 1.8rem, normal, 700, auto, normal);
            margin-bottom: 2rem;
        }

        .name {
            @include mixin.font(black, left, 'Work_Sans', 1.15rem, normal, 400, auto, normal);
        }
    }

    .bears {
        position: relative;
        height: 40vh;

        .bear1 {
            position: absolute;
            @include mixin.img(47rem, auto);
            bottom: -30%;
            right: 0;
        }
    
        .bear2 {
            position: absolute;
            @include mixin.img(27rem, auto);
            bottom: -20%;
            left: 10%;
        }
    }
}

footer {
    overflow: hidden;

    .footer {
        @include mixin.paddingBody;
        height: 80vh;
        background-color: black;
        @include mixin.layoutFlex(flex, column, space-between, space-between, 1rem);
        position: relative;

        .join {
            @include mixin.font(white, left, 'Work_Sans', 0.75rem, normal, 400, auto, normal);
            margin-top: 5rem;
            margin-bottom: 2rem;
            width: 50%;
        }

        .description {
            @include mixin.font(white, left, 'Inter', 1.5rem, normal, 700, auto, normal);
            margin-bottom: 2rem;
            width: 40%;
        }

        button {
            @include mixin.button;
        }

        button:hover {
            @include mixin.buttonHover;
        }

        .footerDiv1 {
            @include mixin.layoutFlex(flex, row, space-between, space-between, 1rem);
        

            .footerSocial {
                @include mixin.layoutFlex(flex, row, left, space-between, 1rem);
                margin-bottom: 2rem;

                img {
                    @include mixin.img(2rem, auto);
                }
            }

            .copyright {
                @include mixin.font(white, left, 'Work_Sans', 0.75rem, normal, 400, auto, normal);
                margin-bottom: 1rem;
            }

            .footerNGO {
                margin-right: 10rem;

                img {
                    @include mixin.img(3rem, auto);
                }
            }
        }

        .bannerDiv {
            position: absolute;
            width: 115%;
            right: 0;
            bottom: 0;
            transform: translateX(50%) rotate(45deg);
            background-color: white;

            .banner {
                @include mixin.font(black, left, 'Inter', 5rem, normal, 400, auto, normal);
                animation: banner 15s 0.2s linear infinite;

                span {
                    color: white;
                    text-shadow: 
                    1px 0 0 black, /*right */
                    0 1px 0 black, /*top */
                    -1px 0 0 black, /*left */
                    0 -1px 0 black; /*bottom*/
                }

                @keyframes banner {
                    0% {
                        transform: translateX(0);
                    }
                    25% {
                        transform: translateX(100%);
                    }
                    50% {
                        transform: translateX(0);
                    }
                    75% {
                        transform: translateX(-100%);
                    }
                    100% {
                        transform: translateX(0);
                    }
                }
            }
        }

    }

}